In [1]:
import psycopg2

In [15]:
conn = psycopg2.connect("dbname=covid19 user=jmc678 password=")

In [9]:
sql_query = """
select distinct province_state from time_series_covid19_confirmed;
"""
cur = conn.cursor()
cur.execute(sql_query)
rows = cur.fetchall()

In [10]:
rows

[('Alabama',),
 ('Indiana',),
 ('Minnesota',),
 ('Louisiana',),
 ('South Carolina',),
 ('California',),
 ('New Mexico',),
 ('New Hampshire',),
 ('American Samoa',),
 ('Connecticut',),
 ('Alaska',),
 ('Nevada',),
 ('Oklahoma',),
 ('Idaho',),
 ('Maryland',),
 ('Ohio',),
 ('Delaware',),
 ('Florida',),
 ('Maine',),
 ('Illinois',),
 ('Montana',),
 ('Oregon',),
 ('Rhode Island',),
 ('Texas',),
 ('Mississippi',),
 ('Kansas',),
 ('New Jersey',),
 ('Puerto Rico',),
 ('Wisconsin',),
 ('Pennsylvania',),
 ('Tennessee',),
 ('New York',),
 ('Georgia',),
 ('Diamond Princess',),
 ('Vermont',),
 ('Virgin Islands',),
 ('Colorado',),
 ('Arkansas',),
 ('Hawaii',),
 ('North Dakota',),
 ('Washington',),
 ('Grand Princess',),
 ('Virginia',),
 ('Wyoming',),
 ('West Virginia',),
 ('Missouri',),
 ('Guam',),
 ('Iowa',),
 ('Northern Mariana Islands',),
 ('District of Columbia',),
 ('South Dakota',),
 ('Arizona',),
 ('Utah',),
 ('Kentucky',),
 ('Nebraska',),
 ('North Carolina',),
 ('Massachusetts',),
 ('Michigan',)]

In [19]:
sql_query = """
select distinct admin2 from time_series_covid19_confirmed where province_state like 'New York';
"""
cur = conn.cursor()
cur.execute(sql_query)
rows = cur.fetchall()

In [21]:
import pandas as pd
df = pd.read_sql_query(sql_query, con=conn)

In [22]:
df

          admin2
0     Montgomery
1          Wayne
2         Albany
3           Erie
4        Orleans
5         Orange
6       Onondaga
7     Chautauqua
8   St. Lawrence
9        Genesee
10        Oneida
11    Unassigned
12        Nassau
13        Otsego
14        Warren
15      Columbia
16      Richmond
17       Suffolk
18      Chenango
19      Franklin
20         Kings
21        Cayuga
22      Delaware
23       Ontario
24        Oswego
25      Dutchess
26      Herkimer
27      Saratoga
28         Yates
29       Madison
..           ...
34     Jefferson
35      New York
36        Greene
37        Queens
38        Ulster
39    Washington
40   Cattaraugus
41      Allegany
42     Schoharie
43        Monroe
44       Wyoming
45   Westchester
46       Clinton
47       Steuben
48      Rockland
49      Sullivan
50         Bronx
51        Broome
52       Chemung
53      Hamilton
54    Livingston
55        Putnam
56        Seneca
57     Out of NY
58         Tioga
59      Tompkins
60    Rensselaer
61      Schuyler
62      Cortland
63         Essex

[64 rows x 1 columns]

In [20]:
rows

[('Montgomery',),
 ('Wayne',),
 ('Albany',),
 ('Erie',),
 ('Orleans',),
 ('Orange',),
 ('Onondaga',),
 ('Chautauqua',),
 ('St. Lawrence',),
 ('Genesee',),
 ('Oneida',),
 ('Unassigned',),
 ('Nassau',),
 ('Otsego',),
 ('Warren',),
 ('Columbia',),
 ('Richmond',),
 ('Suffolk',),
 ('Chenango',),
 ('Franklin',),
 ('Kings',),
 ('Cayuga',),
 ('Delaware',),
 ('Ontario',),
 ('Oswego',),
 ('Dutchess',),
 ('Herkimer',),
 ('Saratoga',),
 ('Yates',),
 ('Madison',),
 ('Niagara',),
 ('Schenectady',),
 ('Lewis',),
 ('Fulton',),
 ('Jefferson',),
 ('New York',),
 ('Greene',),
 ('Queens',),
 ('Ulster',),
 ('Washington',),
 ('Cattaraugus',),
 ('Allegany',),
 ('Schoharie',),
 ('Monroe',),
 ('Wyoming',),
 ('Westchester',),
 ('Clinton',),
 ('Steuben',),
 ('Rockland',),
 ('Sullivan',),
 ('Bronx',),
 ('Broome',),
 ('Chemung',),
 ('Hamilton',),
 ('Livingston',),
 ('Putnam',),
 ('Seneca',),
 ('Out of NY',),
 ('Tioga',),
 ('Tompkins',),
 ('Rensselaer',),
 ('Schuyler',),
 ('Cortland',),
 ('Essex',)]

In [14]:
cur.rollback()

AttributeError: 'psycopg2.extensions.cursor' object has no attribute 'rollback'